#header{
    width: 40%;
    border-radius: 100;
font-size: 30;
text-align: center;

}

h3 img{
    width: 30%;
    height: 30%;
}

#img_1{
    background-color:khaki;
    color: black;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    font-size: 20;
    box-shadow: 5px 5px 10px white;
    margin-top: 20px;
}

body{
    background-position: center;
    background-size: cover;
}